@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #1e37c5;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  text-wrap: wrap;
  display: inline-flex;
}
.navbar a:hover {
  color: #1e37c5;
}
.home {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.headerFeed{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:30px;
}
.headerFeed input{
  padding: 2px 15px;
  height: 25px;
  border: 1px solid rgba(255, 0, 0, 0);
  border-radius: 15px;
  background-color: #dce1fe;
}
.post{
  background-color: #dce1fe;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.post:hover{
  background-color: #f0f2fb;
}
.post p{
  color: #1e37c5;
}